-# -*- coding: utf-8 -*-
!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(content="width=device-width" initial-scale="1.0" name="viewport")
    %meta(content="デュエルリンクスのデッキ共有機能で生成される画像と同様の画像を生成するツールです。" name="description")
    %meta(content="デュエルリンクス,デッキ共有,デッキ,レシピ,スクリーンショット,スクショ,結合,合成" name="keywords")
    %title デュエルリンクスデッキスクショ合成ツール
  %body
    %h1 デュエルリンクスデッキスクショ合成ツール

    %p デュエルリンクスのデッキ共有機能で生成される画像と同様の画像をスクリーンショット2枚から生成するツールです。

    %p
      %b ※解像度が1,080x1,920の機種向けに作成しています。

    %hr

    %form{action: url("/", false, true),
          method: "post",
          enctype: "multipart/form-data"}
      %p
        スクショ1（メインデッキの1枚目がスクロール領域の上部に来るように取得）:
        %br
        %input{type: "file", name: "ss1"}
      %p
        スクショ2（メインデッキの25枚目がスクロール領域の上部に来るように取得）:
        %br
        %input{type: "file", name: "ss2"}
      %p
        メインデッキの枚数:
        %input{type: "radio", name: "n_cards", value: "24", checked: "checked"} 20～24枚
        %input{type: "radio", name: "n_cards", value: "30"} 25～30枚
      %p
        著作権表記:
        %input{type: "radio", name: "copyright", value: "0", checked: "checked"} 入れない
        %input{type: "radio", name: "copyright", value: "1"} 入れる
      %p
        %input{type: "submit"}
      - if @error
        合成に失敗しました。再度お試しいただくか、作者にお問い合わせください。
      - if @download_url
        %a{href: @download_url, target: "_blank"}
          %img{src: @download_url, alt: "画像", width: "50%", height: "50%"}
    - if !@download_url
      %hr
      %p
        注:
        %ul
          %li 対応している画像形式はPNG形式またはJPEG形式です。
          %li 2つのスクリーンショットは同じサイズで取得してください。
          %li スマートフォンで取得したスクリーンショットのみ対応しています。PC版や、アプリ版であっても横幅が広い機種（iPad等）のスクリーンショットは使用できません。
          %li スクリーンショットの上端にグローバルチャット領域が来ることを想定して切り出しているため、OSのステータスバーなどが含まれている画像は使用できません。